{{ define "content" }}
<div class="ui middle aligned center aligned grid">
    <div class="column login-box">
        <h1 class="ui primary image header">
            Login to your account
        </h1>
        <form action="/login?redirect_login={{.RedirectURL}}" method="post" class="ui large form">
            <div class="ui raised segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input maxlength="100" type="text" name="email" placeholder="Email address" value={{or .Email ""}}>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input maxlength="100" type="password" name="password" placeholder="Password" value={{or .Password ""}}>
                    </div>
                </div>
                <div class="g-recaptcha" data-sitekey={{.RecaptchaSitekey}} style="margin: 2em 0;"></div>
                <button class="ui fluid large primary submit button">Login</button>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui message">
            <p><a href="/lost-password">Click here</a> if you forgot your password</p>
            <p>Need an account? <a href="/signup">Sign Up</a></p>
        </div>
    </div>
</div>
{{ end }}
