{{ define "content" }}
<div class="ui middle aligned center aligned grid">
    <div class="column login-box">
        <h1 class="ui primary image header">
            Reset your password
        </h1>
        <form action="/lost-password" method="post" class="ui form">
            <div class="ui raised segment">
                {{ if .Success }}
                <div class="ui positive message">
                    <div class="header">Email Sent</div>
                    A password reset link has been sent to your email address. Please use it to change your password
                    immediately.
                </div>
                {{ end }}
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Email address" value={{or .Email ""}}>
                    </div>
                </div>
                <div class="g-recaptcha" data-sitekey={{.RecaptchaSitekey}} style="margin: 2em 0;"></div>
                <button class="ui fluid large primary submit button">Reset Password</button>
            </div>
        </form>
    </div>
</div>
{{ end }}
