{{ define "content" }}
<div class="ui middle aligned center aligned grid">
    <div class="column login-box">
        <h1 class="ui primary image header">
            Enter a new password
        </h1>
        <form action="/password-resets/{{ .Token }}" method="post" class="ui form">
            <div class="ui raised segment">

                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input maxlength="100" type="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input maxlength="100" type="password" name="confirm_password" placeholder="Confirm password">
                    </div>
                </div>
                <button class="ui fluid large primary submit button">Reset Password</button>
            </div>
        </form>
    </div>
</div>
{{ end }}
