{{ define "footer" }}
<div class="ui vertical footer segment secondary">
    <div class="ui center aligned container">
        <div class="ui stackable grid">
            <div class="eight wide left floated column">
                <div class="ui horizontal small divided list">
                    <span><i class="paper plane outline icon"></i> <a href="https://github.com/ic3network/mccs-alpha" target="_blank">alpha release</a></span> &nbsp;|&nbsp;
                    <span>Copyright &copy; 2019-2020 IC3 Network/Open Credit Network</span>
                </div>
            </div>
            <div class="eight wide right floated column">
                <div class="ui horizontal small divided link list">
                    <a class="item" href="https://opencredit.network/privacy-policy" target="_blank">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
