{{define "thankYou"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Open Credit Network</title>
  </head>

  <body>
    <p>Hi {{.FirstName}},</p>
    <p>Thanks for applying to join the Open Credit Network as a Trading Member. Your details will be reviewed by the OCN team and if everything is OK, your application for Membership will be approved and we will be in touch again very soon.</p>
    <p>We can only offer credit to UK registered businesses, but Sole Traders can still become members; they just have to sell before they can buy.</p>
    <p>If you know people from other businesses who may be interested in being part of the Open Credit Network, please <a href="https://opencredit.network/spread-the-word/">spread the word</a>.</p>
    <p>If you have any questions, just let us know by replying to this email.</p>
    <p>
        In Mutuality!
        <br />
        The OCN Team
    </p>
  </body>
</html>
{{ end }}
