{{define "welcome"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Open Credit Network</title>
  </head>

  <body>
    <p>Hi {{.BusinessName}},</p>
    <p>Thanks for signing up to The Open Credit Network directory! Your details will be reviewed by the OCN team and if everything is OK, your directory entry will go live. We will be in touch again very soon.</p>
    <p>The more detail you add about the goods and services you provide and are looking for, the more potential business it will generate, so please sign in to <a href="https://trade.opencredit.network/account">complete your profile</a>.</p>
    <p>If you would like to trade with another business using Mutual Credit you will need to <a href="https://trade.opencredit.network/member-signup">apply to become a Trading Member</a>.</p>
    <p>If you know people from other businesses who may be interested in being part of the Open Credit Network please <a href="https://opencredit.network/spread-the-word/">spread the word</a>.</p>
    <p>If you have any questions just let us know by replying to this email.</p>
    <p>
        In Mutuality!
        <br />
        The OCN Team
    </p>
  </body>
</html>
{{ end }}
