{{ define "content" }}
<div class="ui middle aligned center aligned grid">
    <div class="column login-box">
        <h1 class="ui primary image header">
            Admin Login
        </h1>
        <form action="/admin/login" method="post" class="ui large form">
            <div class="ui raised segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input maxlength="255" type="text" name="email" placeholder="Email address" value={{or .Email ""}}>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input maxlength="255" type="password" name="password" placeholder="Password" value={{or .Password ""}}>
                    </div>
                </div>
                <div class="g-recaptcha" data-sitekey={{.RecaptchaSitekey}} style="margin: 2em 0;"></div>
                <button class="ui fluid large primary submit button">Login</button>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>
{{ end }}
